<h1><%=@article.title%></h1>
<p>
	Visitas: <%= @article.visits_count %>
</p>
<div class="field">
	<%= image_tag @article.cover.url() %>
</div>
<div>
	<%= @article.body%>
</div>
<div class="top-space top-padding top-marging">
	<%= link_to "Editar", edit_article_path(@article) %>
</div>
<div class="field">
	<h3>Comentarios</h3>
	<%= render 'comments/form' %>
	<ul>
		<% @article.comments.each do |comment|%>
		<li>
			<%=comment.body%> - <%= comment.user.email%>
		</li>
		<%end%>
	</ul>
</div>