<div class="row center-xs">
  <div class="col-xs col-md">
    <div class="box text-left" id="center-div">

      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, "Correo" %><br />
          <%= f.email_field :email, autofocus: true, class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :password, "Contraseña" %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recuerdame" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Entrar", class:"btn be-blue white top-marging" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
