html, body{
	margin: 0px;
	font-family:'Roboto', sans-serif;
}

.roboto{
	font-family:'Roboto', sans-serif;
}

#center-div{
  display: table;
  min-width: 300px;
  margin: 0 auto;
}

.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	padding: 10px 25px;
}

.bold-font{
	font-family:'Roboto bold', sans-serif;
}

.be-blue{
	background-color: #1F518B;
}

.blue-font{
	color: #1F518B
}

.white{
	color: white;
}

.large-padding{
	padding: 10px 7px;
}

a{
	color: inherit !important;
	text-decoration: none;
}

.no-marging{
	margin: 0px;
}

.no-padding{
	padding: 0px 0px;
}

#logo{
	font-size: 1.5em;
}

.field{
	margin-top: 1em;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}

.error{
	background-color: red;
	color: white;
	margin-top: 1em;
}

.text-left{
	text-align: left !important;
}

.box{
	position:relative;
	box-sizing:border-box;
	min-height:50em;
	margin-bottom:0;
	border:1px solid #FFF;
	border-radius:2px;
	overflow:hidden;
	text-align:center;
}

.top-padding{
	padding-top: 20px
}

.bottom-padding{
	padding-bottom: 15px
}

/*.alert{
	width: 100%;
	height: 50px;
	background-color: #2D75C9;
	color: white;
	padding-top: 0px !important;
	margin-top: 0px !important;
}*/

.no-bottom-padding{
	padding-bottom: 0px !important;
}

.top-marging{
	margin-top: 20px;
}